html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

.osobaKontejner {
  width: 100%;
}

.osoba {
  border: 2px solid #dde0e0;
  border-radius: 15px 15px;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

/* .tym {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

.foto img {
  border-radius: 50%;
}

@media (min-width: 540px) {
  .tym {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .osoba {
    display: flex;
    text-align: left;
  }

  .foto {
    margin-right: 20px;
  }

  .popis {
    margin-top: 15px;
  }

  .osobaKontejner {
    display: flex;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .osoba {
    flex-direction: column;
  }

  .popis {
    text-align: center;
  }

  .foto {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -15px;
  }
  .tym {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .osobaKontejner {
    width: auto;
  }
}
